body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  overflow: hidden; /* Empêche le défilement pendant l'animation */
  cursor: crosshair;
}

h1 {
  margin-top: 2%;
  font-size: 5em;
  font-weight: 700;
  letter-spacing: -2.7px;
  color: black;
  position: relative;
  mix-blend-mode: difference;
  top: -100vh; /* Positionnement initial pour l'animation */
  transition: top 1s ease-in-out, font-size 0.5s ease, transform 0.5s ease; /* Durée et type d'animation */
}

.clickable {
  text-decoration: none;
  color: black;
  cursor: crosshair; /* Curseur en forme de croix */
}

ul {
  list-style-type: none; 
  color: black;
  font-size: 0.6em;
  font-weight: 600;
}

.tooltip {
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px;
  display: none; /* Caché par défaut */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  
}

.text-section {
  width: 45%;
  text-align: left;
}

.text-section p {
  font-size: 0.6em;
  line-height: 1.1;
  font-weight: 500;
  color: black;
}

.contact-section {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
 
}

.image-section {
  width: 50%;
  z-index: 0;
}

.image-section img {
  width: 100%;
  height: auto;
  
}

@media (max-width: 768px) {
  body {
    overflow: auto;
  }

  h1 {
    font-size: 3em; /* Réduire la taille de la police */
    letter-spacing: -2px;
    text-align: center; /* Centrer le texte */
    position: fixed;
    color: rgb(0, 0, 0);
    mix-blend-mode: difference;
  }

  .container {
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
  }
  
  .text-section, .image-section {
    width: 100%;
  }
  
  .text-section {
    text-align: justify;
  }

  nav {
    width: 100%;
    display: sticky;
    justify-content: space-around;
    position: fixed;
    mix-blend-mode: difference;
  }

  .image-section {
    width: 70%;
    padding: 10%;
  }
}





nav {
  width: 90%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  padding-bottom: 5%;
}

nav a {
  text-decoration: none;
  color: rgb(155, 155, 155);
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: -0.4px;
  display: inline-block;
  mix-blend-mode: difference;
  bottom: 0;

}

nav a:hover {
  font-weight: 600;
}
