@font-face {
  font-family: 'ABCDiatype';
  src: url('media/ABCDiatypeVariable-Trial.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'ABCDiatype', sans-serif;
  overflow: hidden;
  cursor: crosshair;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100vw;
  height: 100vh;
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  cursor: inherit;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: -0.4px;
  display: inline-block;
  bottom: 0;
}

h1 {
  margin-top: 2%;
  font-size: 5em;
  font-weight: 700;
  letter-spacing: -2.7px;
  position: relative;
  z-index: 20;
}

.clickable {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: color 0.3s ease;
  cursor: crosshair;
}

ul {
  list-style-type: none;
  color: black;
  font-size: 0.6em;
  font-weight: 600;
}

.tooltip {
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px;
  display: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.text-section {
  width: 45%;
  text-align: left;
}

.text-section p {
  font-size: 0.6em;
  line-height: 1.1;
  font-weight: 500;
}

.contact-section {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

.image-section {
  width: 50%;
  z-index: 0;
}

.image-section img {
  width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  body {
    overflow: hidden;
  }

  h1 {
    font-size: 3.5em;
    letter-spacing: -2px;
    text-align: center;
    position: relative;
  }

  .container {
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }

  .text-section,
  .image-section {
    width: 100%;
  }

  .text-section {
    text-align: justify;
    font-size: 1em;
  }

  nav {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
    z-index: 1000;
  }

  nav a {
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: -0.4px;
    display: inline-block;
    padding: 8px 12px;
  }

  .image-section {
    width: 70%;
    padding: 10%;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5em;
    text-align: center;
    top: 15%;
  }

  .container {
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }

  .text-section,
  .image-section {
    width: 100%;
    padding: 0;
  }

  .text-section {
    text-align: justify;
    font-size: 1em;
  }

  .grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 1fr; /* Garantir que les éléments sont carrés en forçant une hauteur égale à la largeur */
    gap: 10px;
  }

  .image-section {
    width: 100%;
    padding: 0;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0;
  }

  nav a {
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: -0.4px;
    display: block;
    padding: 10px;
  }
}

nav {
  width: 90%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  padding: 12px 0;
  z-index: 1000;
}

nav a {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: -0.4px;
  display: inline-block;
  padding: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 1fr; /* Assure que les éléments de la grille ont un ratio 1:1 */
  gap: 10px;
  width: 100%;
  margin: 0;
}

.grid img,
.grid video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.grid img:hover {
  opacity: 0.6;
}

.grid img:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}

.grid img:nth-child(2) {
  grid-column: span 1;
  grid-row: span 1;
}

.grid img:nth-child(3) {
  grid-column: span 1;
  grid-row: span 2;
}

.grid video:nth-child(4) {
  grid-column: span 1;
  grid-row: span 1;
}

.grid img:nth-child(5) {
  grid-column: span 1;
  grid-row: span 1;
}

.grid img:nth-child(6) {
  grid-column: span 2;
  grid-row: span 1;
}

.grid video:nth-child(7) {
  grid-column: span 1;
  grid-row: span 2;
}

.grid img:nth-child(8) {
  grid-column: span 1;
  grid-row: span 1;
}

#grain-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-background, );
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb, #000);
}
